@import "tailwindcss";

/* --- CONFIGURACIÓN BASE APP NATIVA PREMIUM --- */
html {
  scroll-behavior: smooth;
  /* El rebote elástico nativo de iOS se siente premium */
  overscroll-behavior-y: auto;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* Fondo negro profundo para que el 'overscroll' superior se vea integrado al Hero */
  background-color: #0f172a;
}

body {
  min-height: 100%;
  width: 100%;
  /* El fondo real del contenido */
  background-color: #F8F9FA;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;

  /* Padding seguro para iPhone X+ (Notch y Home Bar) */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* --- SCROLLBAR INVISIBLE (UX Móvil) --- */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

/* --- OPTIMIZACIONES --- */
* {
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

/* Bloqueo para modales */
/* Esto hace que el Header suba y desaparezca suavemente cuando abres un plato o el checkout */
body.modal-open #app-header {
  transform: translateY(-150%);
  /* Lo mueve hacia arriba fuera de la pantalla */
  opacity: 0;
  /* Lo hace invisible */
  pointer-events: none;
  /* Evita clicks accidentales */
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  /* Animación suave */
}