@import "tailwindcss";

/* --- 1. CONFIGURACIÓN BASE APP NATIVA --- */
html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  /* Evita rebote blanco feo */
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  background-color: #111827;
  /* FONDO OSCURO (Clave para que el notch se vea negro) */
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #F8F9FA;
  /* El fondo real de la app */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;

  /* --- ERROR CORREGIDO: --- */
  /* Quitamos 'padding-top' para que el Hero entre en la zona de la hora/batería */
  padding-top: 0;
  padding-bottom: env(safe-area-inset-bottom);

  /* --- EFECTO VIGNETTE (Bordes Difuminados) --- */
  /* Esto hace que el contenido se desvanezca al llegar muy arriba o muy abajo */
  mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 15px,
      /* Se empieza a ver suavemente después del borde superior */
      black calc(100% - 40px),
      transparent 100%
      /* Se desvanece al final */
    );
  -webkit-mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 15px,
      black calc(100% - 40px),
      transparent 100%);
}

/* Scrollbar invisible */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

/* UX Táctil */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Modal Block */
body.modal-open {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
}